<template>
  <div id="ListSurvey" class="container">
    <SurveyTableComponent/>
  </div>
</template>

<script>
// @ is an alias to /src
import SurveyTableComponent from '@/components/SurveyTable.vue'

export default {
  name: 'ListSurvey',
  components: {
    SurveyTableComponent
  },
}
</script>
