<template>
  <div id="SurveyDetail" class="container">
    <router-link to="/">Back to list</router-link>
    <SurveyDetailComponent :code-prop="this.$route.params.code"/>
  </div>
</template>

<script>
import SurveyDetailComponent from "@/components/SurveyDetail";

export default {
  name: "SurveyDetail",
  components: {
    SurveyDetailComponent
  },
}
</script>