<template>
  <div class="qcmBlock">
    <h3 >{{qcmQuestion.label}}</h3>
    <ul class="list-group list-group-flush" v-for="(value,key) in qcmQuestion.result" v-bind:key="key">
      <li class="list-group-item"><span class="mr-4">{{key}} :</span> <span>{{value}}</span></li>
    </ul>
  </div>
  <div class="qcmBlock mt-5">
    <h3 >{{dateQuestion.label}}</h3>
    <ul class="list-group list-group-flush" v-for="(value,key) in dateQuestion.result" v-bind:key="key">
      <li class="list-group-item">{{convertDate(value)}}</li>
    </ul>
  </div>
  <div class="numericBlock mt-5">
    <h3 >{{numericQuestion.label}}</h3>
    <p>{{numericQuestion.result}}</p>
  </div>
</template>

<script>

import axios from "axios";
import {BASE_API} from "@/config/constant.js";

export default {
  name: 'SurveyDetailComponent',
  props: {
    codeProp: String,
  },
  data() {
    return {
      qcmQuestion : {},
      numericQuestion: {},
      dateQuestion: {}
    }
  },
  created() {
    let self = this;
    axios.get(BASE_API + this.codeProp + '.json')
        .then(response => {
          self.qcmQuestion = response.data[0];
          self.numericQuestion = response.data[1];
          self.dateQuestion = response.data[2];
        })
        .catch(() => {
          self.$router.push('/404')
        })
  },
  methods: {
    convertDate(date) {
      let dateFormat = new Date(date);
      return dateFormat.toLocaleString().replace(/,/g, "");
    },
  }
}
</script>