<template>
  <div class="SurveyTable">
    <div class="d-flex mb-3">
      <input v-model="searchValue" type="search" placeholder="search..." @change="search">
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="survey in resultQuery" v-bind:key="survey.code">
        <td>
          <router-link :to="{ name: 'SurveyDetail', params: {code : survey.code}}">{{ survey.name }}</router-link>
        </td>
        <td>{{ survey.code }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import axios from "axios";
import {BASE_API} from "@/config/constant.js";

export default {
  name: 'SurveyTableComponent',
  data() {
    return {
      listSurvey: {},
      searchValue: '',
    }
  },
  created() {
    let self = this
    axios.get(BASE_API + `list.json`)
        .then(response => {
          self.listSurvey = response.data
        })
        .catch(e => {
          self.errors.push(e)
        })
  },
  computed: {
    resultQuery(){
      if (this.searchValue !== '') {
        return this.listSurvey.filter((item) => {
            return item.name.toLowerCase().indexOf(this.searchValue.toLowerCase()) > -1
        })
      }
      return this.listSurvey
    }
  }
}
</script>